* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

body {
  	background-image: url("/images/buildings.png");
    background-color: rgba(67, 5, 65, 0.7); /* Used if the image is unavailable */
	/*background-color: rgba(225, 225, 225, 1); /* Used if the image is unavailable */*/
	/*background-position: 250px 300px; /* Center the image */*/
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-attachment: fixed;
}

.title-banner {
  height: 80px;
  width: 80vh;
  vertical-align: middle !important; 
  letter-spacing: 2px;
  /*background: rgb(249,249,249);
  background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(67,5,65,0.008) 50%, rgba(249,249,249,1) 100%);*/
  background-image: linear-gradient(to right, rgba(67, 5, 65, 0.05), rgba(67, 5, 65, 0.8), rgba(67, 5, 65, 0.05));
}

.card {
  background-color: #fcfcfc;
}

.ajax-error-message {
  font-size: 1rem;
}

.modal {
  border-radius: 2px;
}

nav {
	background-color:  rgba(67, 5, 65, 0.8) !important;
}

.nav-item {
	font-size: 1rem;
	/*font-family: 'Cinzel', serif;*/
	/*font-family: 'Vollkorn SC', serif;*/
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Roboto Slab', serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color: #00bc9c !important;
	/*text-transform: uppercase;*/
	/*letter-spacing: 0.25px;*/

}

.nav-link:hover {
	border-bottom: 1px solid #00bc9c;
	border-top: 1px solid #00bc9c;
}

a {
  color: rgba(67, 5, 65, 0.8);
}

a:hover {
  color: rgba(67, 5, 65, 1);
}

a:active {
  color: rgba(67, 5, 65, 1);
}

.form-control {
	border-radius: 2px !important;
}

.btn-wide {
	width: 80px;
}

.btn-link {
	color: rgba(67, 5, 65, 0.8) !important;
}

.btn-link:hover {
	color: rgba(67, 5, 65, 1) !important;
}

.btn {
    height: 37px;
    display: inline-block;
    font: 14px/36px "Roboto", sans-serif !important;
    padding: 0 5px;
    border-radius: 2px;
    min-width: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);*/
}

/*.btn:hover {
    transition: .4s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.btn:active {
    transition: .4s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}*/

/*primary button*/
.btn.btn-primary {
    transition: .4s;
    background: rgba(67, 5, 65, 0.8);
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(67, 5, 65, 0.8);
    text-transform: capitalize;
}
.btn.btn-primary:hover {
    transition: .4s;
    background: rgba(67, 5, 65, 0.8);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(67, 5, 65, 0.8);
}
.btn.btn-primary:active {
    transition: .4s;
    background: rgba(67, 5, 65, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(67, 5, 65, 0.8);
}

/*greencyan button*/
.btn.btn-greencyan {
    transition: .1s;
    background: #00bc9c;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    border: 1px #00bc9c;
    margin: 5px;
    text-transform: capitalize;
}
.btn.btn-greencyan:hover {
    transition: .1s;
    background: #00bc9c;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #00bc9c;
}
.btn.btn-greencyan:active {
    transition: .1s;
    background: #00bc9c;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #00bc9c;
}

/*greencyan button*/
.btn-greencyan-check {
    transition: .1s;
    background: #00bc9c;
    color: #00bc9c;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    border: 1px #00bc9c;
    padding: 3px;
}
.btn-greencyan-check:hover {
    transition: .1s;
    background: #00bc9c;
    color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #00bc9c;
}
.btn-greencyan-check:active {
    transition: .1s;
    background: #00bc9c;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #00bc9c;
}

/*link button*/
.btn-link.btn-icon {
    transition: .4s;
    
    color: rgba(67, 5, 65, 0.5);
    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    
    /*margin: 5px;*/
}
.btn-link.btn-icon:hover {
    transition: .4s;
    color: rgba(67, 5, 65, 0.7);
    font-size: 1rem;
    
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
    
}
.btn-link.btn-icon:active {
    transition: .2s;
    color: rgba(67, 5, 65, 0.7);
    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    
}

/*flat button*/
.btn.btn-flat {
    height: 30px !important;
    /*width: 10px;*/
    /*padding: 5px 5px !important;*/
    vertical-align: middle;
    /*padding-bottom: 20px;*/
    transition: .4s;
    background: #f9f9f9;
    color: #f9f9f9;
    border-radius: 2px;
    border: 1px solid #00bc9c;
}
.btn.btn-flat:hover {
  height: 30px !important;
    /*padding: 5px 5px !important;*/
    /*padding-bottom: 20px;*/
    vertical-align: middle;
    transition: .4s;
    color: #fff;
    background: #00bc9c;
    border: 1px solid #00bc9c;
}
.btn.btn-flat:active {
  height: 30px !important;
    /*padding: 5px 5px !important;*/
    /*padding-bottom: 20px;*/
    vertical-align: middle;
    transition: .2s;
    color: #fff;
    background: #00bc9c;
    border: 1px solid #00bc9c;
}

a.no-underline {
  text-decoration: none !important;
}

.fas {

}


.border-purple {
	border-color:  rgba(67, 5, 65, 1) !important;
	border-width: 1px !important;
}

.table-purple {
	background-color: #f9f9f9;
}

th {
	color: rgba(67, 5, 65, .8) !important;
	font-weight: 600;
}

.active.tab-purple {
	color: #fff !important;
	background-color: rgba(67, 5, 65, .8) !important;
	border-radius: 2px !important;
}

.tab-purple {
	color: #ededed !important;
	background-color: rgba(67, 5, 65, .4) !important;
	border-radius: 2px !important;
}

.tab-content {
	background-color: #f9f9f9;
}

h4.current-page {
	
  color: rgba(67, 5, 65, 0.1);
	/*text-transform: uppercase;*/
	/*margin-left: 30px;*/
	/*padding: 5px 0;*/

}

.text-underline {
    /*border-bottom: 2px solid #00bc9c;*/
    /*color: #00bc9c;*/
    color: #f9f9f9;
    /*font-family: 'Vollkorn SC', serif;*/
    font-family: 'Cinzel', serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 30px;
    padding: 5px 0;
}

#app-name {
	color: #f9f9f9;
	/*font-family: 'Vollkorn SC', serif;*/
	font-family: 'Cinzel', serif;
	font-weight: 700;
	font-size: 1.3rem;
	letter-spacing: 0.2rem;
}

.fa-plus {
	font-size: 0.6rem;
}

/*HOME PAGE*/
.dashboard-title, .auth-card-title, .card-title {
	font-size: 1.1rem;
	font-family: 'Roboto', sans-serif;
	color: rgba(67, 5, 65, .8) !important;
	font-weight: 500;
}

/*contractprofile.blade*/
img {
    max-width: 100%;
    max-height: 100%;
}

.view-profile-avatar {
    border-radius: 50%
    height: 250px;
    width: 250px;
}

.view-profile-card {
    width: 100%;
}

#profile-card {
  height: 75vh;
}

.capitalize-text {
  text-transform: capitalize;
}

/*OPPORTUNITIES*/
.card {
	border-radius: 2px;
}

.opportunities-card {
	font-family: 'Roboto Codensed', sans-serif;
	font-size: 0.7rem;
}

.opportunities-avatar {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.opportunities-card-name {
	font-size: 1rem;
}

/*for scrolling of cards in opportunities page*/
.scroll {
    max-height: 60vh;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00bc9c; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00bc9c; 
  border-radius: 2px;
}

/*scroll to top*/
.scrollup{
    height: 40px;
    width: 40px;
    /*opacity:1;*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    display: none;
    text-indent: -9999px;
    background: url('/images/scrollToTop.png') no-repeat;
    background-color: rgba(67, 5, 65, 1); /* Used if the image is unavailable */
    background-position: center;
    background-size: 15px 15px;
    z-index: 20000;
}
/*end of scrolling in cards*/


.div-inline {
	display: inline;
}

.form-control {
	border: 1px solid rgba(67, 5, 65, 0.5) !important;
}	

/*admin/agent*/
/*#table-admin-agent {
    margin-right: 50px;
    margin-left: 50px;
}*/


/*MEDIA QUERIES*/

/*for tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

}


/*for phone*/
@media only screen and (max-width: 600px) {
/*agent/opportunities*/
    .opportunities-card-name {
        font-size: 1.3rem;
    }

    .opportunities-card-text {
        font-size: 1rem;
    }
    
}
}

/*TABS IN PROFILE*/
.tabs {
}
.tabs input[type=radio] {
  display: none; 
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #00bc9c;
  width: 40%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #FCFCFC;
  text-align: center;
  line-height: 3em; 
}
.tabs label:last-of-type {
  border-bottom: none; 
}
.tabs label:hover {
  background: #00bc9c;
  color:#ffffff;
}
@media screen and (max-width: 1600px) {
.tabs label {
  width: 40%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width: 40%; 
  } 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 40%;
  /*display: inline;*/
  border-bottom: 2px solid #C7C6C4;
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  /*margin: 0; */
} 
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label {
  background: #00bc9c;
  color: #FFFFFF; }

.tab-content {
  position: absolute;
  top: -9999px;
  /*padding: 10px; */
}

.tab-content-wrapper{
  background: #FCFCFC;
  border-top: #2EBEB9 5px solid;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 100%;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4 {
  position: relative;
  top: 0px;
 }
