nav {
	background-color:  rgba(67, 5, 65, 0.8) !important;
}

.btn-flat {
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}

.btn, .form-control {
	border-radius: 2px !important;
}

.btn-wide {
	width: 80px;
}

.btn-link {
	color: rgba(67, 5, 65, 0.7) !important;
}

.btn-add {
	background-color: #00bc9c !important;
	color: white;
	font-weight: 500;
}

.nav-item {
	font-weight: 500;
}

.purple-border {
	border-color:  rgba(67, 5, 65, 1) !important;
	border-width: 2px !important;
}
th {
	color: rgba(67, 5, 65, .8) !important;
	font-weight: 600;
}